In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
import tflearn
from tflearn.data_utils import to_categorical

In [2]:
from collections import Counter

In [8]:
a=Counter()

In [4]:
a.update('dsafsdafasdfdddd')

In [13]:
print(a)

Counter({'d': 2})

In [12]:
a['d']+=1

In [25]:
df=pd.DataFrame(data=[['this is a test'],['test123'],[1234]])

In [26]:
df

                0
0  this is a test
1         test123
2            1234

In [28]:
for idx, row in df.iterrows():
    print(idx)
    print(row[0])

0
this is a test
1
test123
2
1234